body{
    background-color: rgb(0, 184, 173);
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: "Montserrat", sans-serif;
}

main{
    color: white;


}
.bebidaV{
    display: inline-flex;
    
    color: black;
}

button{
    
}



.bot1{
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.bot2{
    border: none;
    border-radius: 0px 5px 5px 0px;
}
